<!DOCTYPE html>
<html>
{% load buildStaticUrl %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ config.SEO_TITLE }}</title>
	<!-- Le styles -->
    <link href={{"/bootstrap/bootstrap.min.css"|buildStaticUrl}} rel="stylesheet">
    <link href={{"/font-awesome/css/font-awesome.min.css"|buildStaticUrl}} rel="stylesheet">
    <link href={{"/css/style.css"|buildStaticUrl}} rel="stylesheet">
    {%block css %}{% endblock %}
</head>

<body class="gray-bg">
{% block content %}{% endblock %}

<script src={{"/plugins/jquery-2.1.1.js"|buildStaticUrl}}></script>
<script src={{"/bootstrap/bootstrap.min.js"|buildStaticUrl}}></script>
<script src={{"/plugins/layer/layer.js"|buildStaticUrl}}></script>
<script src={{"/js/common.js"|buildStaticUrl}}></script>
{%block js %}{% endblock %}
</body>
</html>
