<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{# 分页器 #}
<nav style="text-align: center">
    <ul class="pagination">
        {% if pageInfo.has_previous %}  {# 如果有上一页才可以点击<< #}
            <li class="previous">
                {# 此处相对下面加了a标签, 可以点击 #}
                <a href="?page={{ pageInfo.previous_page_number }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% else %}  {# 否则禁止点击上一页 #}
            <li class="previous disabled">
                <span aria-hidden="true">&laquo;</span>
            </li>
        {% endif %}

        {% for page in pageObject %}{# 遍历所有页数 #}
            {% if page %}
                {# 如果遍历到的数字和当前页相同, 则添加active, 高度 #}
                {% if page == pageInfo.number %}
                    <li class="active"><a href="javascript:;">{{ page }}</a></li>
                {% else %}
                    <li><a href="?page={{ page }}" class="page">{{ page }}</a></li>
                {% endif %}
            {% else %}
                <li class="disabled">
                    <span>...</span>
                </li>
            {% endif %}
        {% endfor %}

        {% if pageInfo.has_next %}{# 如果有下一页才可以点击>> #}
            <li class="next">
                {# 此处相对下面加了a标签, 可以点击 #}
                <a href="?page={{ pageInfo.next_page_number }}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% else %}
            <li class="next disabled">
                <span aria-hidden="true">&raquo;</span>
            </li>
        {% endif %}
    </ul>
</nav>



</body>
</html>